@model MVC_Blog.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Детайли</h2>

<div>
    <h4>Статия</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Заглавие    @*@Html.DisplayNameFor(model => model.Title)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            Тяло    @*@Html.DisplayNameFor(model => model.Body)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            Дата    @*@Html.DisplayNameFor(model => model.Date)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Administrators"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) @:|
            }
    @Html.ActionLink("Back to List", "Index")
</p>
