@using MVC_Blog.Classes;
@using MVC_Blog.Models;

@model PagedList.IPagedList<MVC_Blog.Models.Post>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Статии";
}

<h2>Статии</h2>

<p>
    @Html.ActionLink("Създай статия", "Create")
</p>

@using (Html.BeginForm("Index", "Posts", FormMethod.Get))
{
    <p>
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Търси" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @*Заглавия*@    @*@Html.DisplayNameFor(model => model.Title)*@
            @Html.ActionLink("Заглавие", "Index", new { sortOrder = ViewBag.TitleSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Съдържание  @*@Html.DisplayNameFor(model => model.Body)*@
        </th>
        <th>
            @*Дата*@    @*@Html.DisplayNameFor(model => model.Date)*@
            @Html.ActionLink("Дата", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Автор
        </th>
        <th>
            Действия
        </th>
    </tr>
@if (Model.TotalItemCount < 1)
            {
    <tr>
        <td>
                <b>Няма намерени резултати.</b> 
        </td>
    </tr>
            }
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Utils.CutText(item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @if (item.Author != null)
            {
                @item.Author.FullName <i>(@item.Author.UserName)</i>
            }
            else
            {
                    @:(Няма Автор)
            }
        </td>
        <td>
            @if (User.IsInRole("Administrators"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) @:|
            }

            @Html.ActionLink("Details", "Details", new { id=item.Id })

            @if (User.IsInRole("Administrators"))
            {
                @:| @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            }
            
        </td>
    </tr>
}

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))